body{
    background-color: #142850;

}

@font-face{
    font-family: "Acme"; 
    src: url("../Fonts/Acme/Acme-Regular.ttf");
}

@font-face{
    font-family: "Roboto"; 
    src: url("../Fonts/Roboto/Roboto-Bold.ttf");
}

.descriptionText{

    background: #27496D;
    white-space: pre-wrap;
word-wrap: break-word;
font-family: Acme;
font-style: normal;
font-weight: normal;
font-size: 135%;
padding-left: 120px;
padding-right: 100px;
width: 70%;
margin-left: auto;
  margin-right: auto;

text-align: center;
color: #DAE1E7;

}

.logo{
    display: block;
  margin-left: auto;
  margin-right: auto;
    width: 284px;
    height: 239px;


}


#basicButton{
    width: 265px;
height: 49px;
border-radius: 100px;
font-family: Roboto;
border: 1px solid #000000;
background: #00909E;
box-sizing: border-box;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#basicButton.left{
  position: absolute;
  left: 90px;
 

}

#basicButton.right{
  position: absolute;
  right: 90px;
  

}

.storyBook{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

#promptText{

font-family: Acme;
font-style: normal;
font-weight: normal;
font-size: 23px;
text-align: center;
color: #DAE1E7;

}

#promptText.fantasy{
/* width: 40%;
position: relative;
padding-bottom: 2%; */
  padding-right: 5%;
  padding-left: 5%;

}

.fantasyImg{
/* position: relative;
padding-top: 5%;
width: 25%;
left: 5%; */
width: 70%;
padding-left: 15%;

}

#promptText.sciFi{
  /* width: 100%;
  position: relative; */
  padding-right: 5%;
  padding-left: 5%;
}

.sciFiImg{
  /* position: relative;
  padding-top: 5%;
  width: 25%;
  left: 35%; */
  width:  95%;
  
}

#promptText.mystery{
  /* width: 177%;
  position: relative; */
  padding-right: 5%;
  padding-left: 5%;
  width: 80%;
}

.mysteryImg{
  /* padding-top: 5%;
width: 30%;
left: 5%;
  position: relative; */
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15%;


}

.selection
{
  
  margin-left: auto;
  margin-right: auto;
}